.add-art-win{
    width: 400px;
}

.add-art-id{
    font-weight: bold;
}

.add-art-category,
.add-art-file{
    display: flex;
    justify-content: space-between;
}

.add-art-file input{
    display: inline-block;
    width: 50%;
}

.add-art-id, 
.add-art-name,
.add-art-date, 
.add-art-category{
    margin: 0 0 1em 0;
}