.category-card{
    width: 400px;
}

.category-card-title{
    font-weight: bold;
}

.category-card-name, 
.category-card-color{
    display: flex;
    justify-content: space-between;
}

.category-card-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 0 0;
}

.category-card-title, 
.category-card-name,
.category-card-color{
    margin: 0 0 1em 0;
}