.add-category{
    width: 400px;
}

.add-category-title{
    font-weight: bold;
}

.add-category-name, 
.add-category-color{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-category-title, 
.add-category-name,
.add-category-color{
    margin: 0 0 1em 0;
}

.add-category-color input{
    -webkit-appearance: none;
	border: none;
    width: 30%;
    height: 35px;
}