.add-req-win{
    width: 400px;
}

.add-req-fields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-req-fields > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.1em;
}

.add-req-fields > div:nth-of-type(3), 
.add-req-fields > div:nth-of-type(4), 
.add-req-fields > div:nth-of-type(5), 
.add-req-fields > div:nth-of-type(6), 
.add-req-fields > div:nth-of-type(7), 
.add-req-fields > div:nth-of-type(8), 
.add-req-fields > div:nth-of-type(9){
    height: 2.5em;
}

.add-req-win > input, 
.add-req-win > textarea, 
.add-req-win > select{
    background-color: #fafafa;
    border: 0.1em solid #ccc;
    padding: 1em;
    border-radius: 0.2em;
    outline: none;
    width: 50%;
    height: 100%;
}

.add-req-win > select{
    padding: 0.5em;
    background-color: yellow;
}

.add-req-title{
    font-weight: bold;
    padding: 0 0 1.5em 0;
}

.add-req-description textarea{
    resize: none;
    width: 100%;
    margin-bottom: 2em;
}

.add-req-priority input{
    padding: 0.5em;
    text-align: end;
}