.artifact-card{
    width: 400px;
}

.artifact-card-id{
    font-weight: bold;
}

.artifact-card-date,
.artifact-card-category,
.artifact-card-file{
    display: flex;
    justify-content: space-between;
}

.artifact-card-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 0 0;
}

.artifact-card-delete{
    color: #ff3333;
    background-color: transparent;
}

.artifact-card-delete:hover{
    background-color: #ffbfbf;
}

.artifact-card-file a{
    background-color: #fff;
    color: var(--blue-1);
}

.artifact-card-id, 
.artifact-card-name,
.artifact-card-date, 
.artifact-card-category{
    margin: 0 0 1em 0;
}