.art-table{
    border-collapse: collapse;
}

.art-table th, .art-table td{
    /* border: 1px solid #efefef; */
    text-align: center;
    padding: 1em;
}

.art-table th{
    color: #111;
    font-size: 15px;
}

.art-table td{
    font-size: 13px;
    color: #333;
    border-bottom: 0.1em solid #eee;
}

.art-table tr:nth-child(even) {
    background-color: #fefefe;
}

.art-table tr:nth-child(odd) {
    background-color: #fafafa;
}

.art-table tr{
    cursor: pointer;
}

.art-table tr:hover{
    background-color: #f0f0f0;
}

.add-art-button{
    background-color: violet;
}

.add-art-button:hover{
    background-color: blue;
}