.category-card{
    width: 400px;
}

.category-card-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;    
}

.category-card input[type="color"]{
    -webkit-appearance: none;
    border: none;
    width: 30%;
    height: 35px;
}