.create-project-card{
    width: 400px;
}

.card-title{
    font-weight: bold;
    padding: 0 0 1em 0;
}

.project-title, .project-description{
    margin: 0.5em;
}

.project-title{
    width: 100%;
}

.project-description{
    width: 100%;
    margin-bottom: 2em;
}