.diagrams-table{
    border-collapse: collapse;
}

.diagrams-table th, 
.diagrams-table td{
    padding: 0.5em;
}

.diagrams-table th{
    color: #111;
    font-size: 15px;
}

.diagrams-table td{
    font-size: 13px;
    color: #333;
    border-bottom: 0.1em solid #eee;
}

.diagrams-table tr:nth-child(odd){
    background-color: #f5f5f5;
    cursor: pointer;
}

.diagrams-table tr:nth-child(even){
    background-color: #fefefe;
    cursor: pointer;
}

.diagrams-table tr:hover{
    background-color: #f0f0f0;
}

.diagrams-table th{
    border-color: #e5e5e5;
}

.add-diagram-button td{
    font-weight: bold;
    background-color: #fefefe;
    border: none;
    cursor: pointer;
    text-align: center;
}

.add-diagram-button td:hover{
    background-color: #fafafa;
}

.add-diagram-button img{
    width: 15px;
    margin-right: 1em;
}

.add-diagram-button div{
    display: flex;
    justify-content: center;
    align-items: center;
}