.container{
    display: flex;
    flex-direction: column;
}

.home_principal{
    display: flex;
    justify-content: space-evenly;
    margin: 10vh 0;
}

.home_second{
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
}

.home_principal_options{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home_principal_options:hover{
    cursor: pointer;
}