.purpose, .scope, .glossary, .references, .overview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introduction-inputs{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.introduction-inputs p{
    margin: 1em 0 0.5em 0;
}

.introduction-inputs > button{
    margin: 2em 0 0 0;
    height: 45px;
}