@import url("mainStyles.css");

.login-form{
  padding: 3em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.login-form-logo{
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-form-logo img{
  width: 90%;
}

.login-form-user, .login-form-pass{
  border: none;
  outline: none;
  background-color: #efefef;
  padding: 1.2em;
  border-radius: 2em;
  width: 100%;
}

.login-form-button{
  border: none;
  background-color: var(--blue-4);
  padding: 1em;
  border-radius: 2em;
  color: #fff;
  width: 70%;
  justify-self: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 1em;
}

.login-form-button:hover{
  background-color: var(--blue-3);
}

.login-form-to-signup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-signup{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: var(--blue-3);
  cursor: pointer;
}