@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("normalize.css");

:root{
    --blue-1: #0F2F4D;
    --blue-2: #13324F;
    --blue-3: #1D5D99;
    --blue-4: #267CCC;
    --blue-5: #4D93D5;

    --gray-1: #aaa;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="text"], 
input[type="number"],
input[type="email"],
input[type="password"],
textarea{
    border: 0.15em solid #efefef;
    outline: none;
    background-color: #efefef;
    padding: 1em;
    border-radius: 0.5em;
}

input[type="text"]:focus, 
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus{
    border: 0.15em solid #ccc;
}

textarea{
    resize: none;
}

select{
    border: 0.1em solid #eee;
    background-color: #eee;
    padding: 0.5em;
    border-radius: 0.5em;
}