@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("normalize.css");

:root{
    --blue-1: #0F2F4D;
    --blue-2: #194269;
    --blue-3: #1D5D99;
    --blue-4: #267CCC;
    --blue-5: #4D93D5;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* BUTTONS */

.solid-button{
    background-color: var(--blue-1);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    font-weight: 500;
    border-radius: 0.25em;
}

.solid-button:hover{
    background-color: var(--blue-2);
}

.empty-button{
    background-color: #ededed;
    border: none;
    color: #222;
    cursor: pointer;
    padding: 0.5em;
    font-weight: 500;
    border-radius: 0.25em;
}

.empty-button:hover{
    background-color: #ddd;
}

.delete-button{
    background-color: rgb(255, 211, 211);
    border: none;
    color: #f11;
    cursor: pointer;
    padding: 0.5em;
    font-weight: 500;
    border-radius: 0.25em;
}

.delete-button:hover{
    background-color: rgb(253, 191, 191);
}

/* INPUTS */

.input, .textarea{
    background-color: #efefef;
    border: 0.15em solid #efefef;
    padding: 0.5em;
    border-radius: 0.25em;
}

.input:focus, .textarea:focus{
    border: 0.15em solid #ccc;
}

.textarea{
    padding: 1em;
    resize: none;
}

/* CARDS */

.card-title{
    font-size: 1.5em;
    display: flex;
    align-self: center;
    font-weight: bold;
}

.win-card{
    border: 0.1em solid #ddd;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}

/* CARD BUTTONS */

.card-2-buttons{
    padding: 2em 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
}

.card-3-buttons{
    padding: 2em 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}

select{
    border: 0.1em solid #eee;
    background-color: #eee;
    padding: 0.5em;
    border-radius: 0.5em;
}
