.project-settings{
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (1fr, 3);
    grid-template-areas:
                        "title title"
                        "other members"
                        "save save";
    padding: 2em;
    grid-gap: 3em;
}

.project-settings-title{
    grid-area: title;
    justify-self: center;
}

.project-settings > div{
    display: flex;
    flex-direction: column;
    /* margin: 1em 0; */
}

.project-settings > button{
    /* margin: 2em 0 0 0; */
    grid-area: save;
}

.project-settings .progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-settings-field{
    display: grid;
    grid-gap: 0.5em;
    padding: 1em;
}

.project-settings .project-progress-bar{
    width: 80%;
}


.project-members{
    grid-area: members;
}

.project-members p{
    margin-bottom: 1em;
}

.project-members ul{
    list-style: none;
    display: grid;
    grid-gap: 0.5em;
    color: #555;
}

.add-member{
    background-color: var(--blue-4);
    margin-top: 1em;
}

.add-member:hover{
    background-color: var(--blue-5);
}

.save-proj-settings{
    height: 50px;
}