.project-item-card{
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    border: 0.1em solid #aaa;
    cursor: pointer;
}

.project-item-card:hover{
    background-color: #fafafa;
}

.project-card-name{
    font-size: 1.3em;
    font-weight: 500;
}

.project-card-description{
    margin: 0.5em 0 0 0;
}

.progress-bar-and-admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar-and-admin > div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0 0 0;
}

.project-progress-bar{
    display: flex;
    height: 0.5em;
    width: 90%;
    border-radius: 0.5em;
    background-color: #eee;
}

.project-progress{
    background-color: #bbb;
    height: 100%;
    border-radius: 0.5em;
}