.project-settings{
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (1fr, 3);
    grid-template-areas:
                        "title title"
                        "other members"
                        "save save";
    padding: 2em;
    grid-gap: 3em;
}

.project-settings-title{
    grid-area: title;
    justify-self: center;
}

.project-settings > div{
    display: flex;
    flex-direction: column;
}

.project-settings > button{
    grid-area: save;
}

.project-settings .progress{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-settings-field{
    display: grid;
    grid-gap: 1em;
    padding: 1em;
}

.project-settings .project-progress-bar{
    width: 80%;
}


.project-members{
    grid-area: members;
}

.project-members ul{
    list-style: none;
    color: #555;
}

.project-settings li{
    border: 1px solid #ccc;
    background-color: #fefefe;
    padding: 0.3em;
    margin: 0.3em 0;
    border-radius: 0.5em;
}

.project-settings li > div{
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-gap: 0.5em;
}

.project-settings li > p{
    padding: 0.3em 0;
}

.project-settings li > select{
    grid-area: type;
    padding: 0.3em;
}

.project-settings li > button{
    grid-area: delete;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-settings button > img{
    width: 15px;
}

.add-member{
    background-color: var(--blue-4);
    margin-top: 1em;
}

.add-member:hover{
    background-color: var(--blue-5);
}

.save-proj-settings{
    height: 50px;
}