.proj-ver-table{
    border-collapse: collapse;
}

.proj-ver-table th, .proj-ver-table td{
    /* border: 1px solid #efefef; */
    text-align: center;
    padding: 1em;
}

.proj-ver-table th{
    color: #111;
    font-size: 15px;
}

.proj-ver-table td{
    font-size: 13px;
    color: #333;
    border-bottom: 0.1em solid #eee;
}

.proj-ver-table tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.proj-ver-table tr:nth-child(even) {
    background-color: #fefefe;
}

.req-item{
    cursor: pointer;
}

.proj-ver-table tr:hover{
    background-color: #f0f0f0;
}

.proj-ver-table th{
    background-color: #e5e5e5;
}