.searcher-header{
    display:  flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}

.searcher-search{
    margin-right: 2em;
    /* background-color: darkmagenta; */
    display: flex;
    justify-content: space-between;
}

.searcher-search .search {
    border-radius: 1em;
    margin: 0 0.5em;
    padding: 0.5em 1em;
    background-color: #fff;
    border: 0.15em solid #efefef;
}

.searcher-search img{
    /* background-color: darkslateblue; */
    width: 1em;
    height: 1em;
    align-self: center;
    position: relative;
    right: 2em;
    cursor: pointer;
}

.searcher-header h2{
    margin-left: 20px;
}


