.requirementCard{
    border: 0.1em solid #aaa;
    border-radius: 0.5em;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
}

.requirementCardFields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.requirementCardFields > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.1em;
}

.requirementCardFields > div:nth-of-type(3), 
.requirementCardFields > div:nth-of-type(4), 
.requirementCardFields > div:nth-of-type(5), 
.requirementCardFields > div:nth-of-type(6), 
.requirementCardFields > div:nth-of-type(7), 
.requirementCardFields > div:nth-of-type(8), 
.requirementCardFields > div:nth-of-type(9){
    height: 2.5em;
}

.requirement-card > input, 
.requirement-card > textarea, 
.requirement-card > select{
    background-color: #fafafa;
    border: 0.1em solid #ccc;
    padding: 1em;
    border-radius: 0.2em;
    outline: none;
    width: 50%;
    height: 100%;
}

.requirement-card > select{
    padding: 0.5em;
}

.req-id{
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    padding: 0 0 0.5em 0;
    align-self: center;
}

.req-description textarea{
    resize: none;
    width: 100%;
    margin-bottom: 2em;
}

.req-buttons{
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0 0;
}

.req-buttons button{
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 0.3em;
    cursor: pointer;
    font-weight: 600;
}

.req-cancel{
    color: #333;
    background-color: transparent;
}

.req-delete{
    color: #ff3333;
    background-color: transparent;
}

.req-save{
    color: #fff;
    background-color: #192353;
}

.req-cancel:hover{
    background-color: #ddd;
}

.req-delete:hover{
    background-color: #ffbfbf;
}

.req-save:hover{
    background-color: #2c3d94;
}