.requirementCard{
    width: 500px;
}

.requirementCardFields{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.requirementCardFields > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.1em;
}

.requirementCardFields > div:nth-of-type(3), 
.requirementCardFields > div:nth-of-type(4), 
.requirementCardFields > div:nth-of-type(5), 
.requirementCardFields > div:nth-of-type(6), 
.requirementCardFields > div:nth-of-type(7), 
.requirementCardFields > div:nth-of-type(8), 
.requirementCardFields > div:nth-of-type(9){
    height: 2.5em;
}

.requirement-card > input, 
.requirement-card > textarea, 
.requirement-card > select{
    background-color: #fafafa;
    border: 0.1em solid #ccc;
    padding: 1em;
    border-radius: 0.2em;
    outline: none;
    width: 50%;
    height: 100%;
}

.requirement-card > select{
    padding: 0.5em;
}

.req-id{
    font-weight: bold;
    padding: 0 0 0.5em 0;
}

.req-description textarea{
    resize: none;
    width: 100%;
    margin-bottom: 2em;
}

.req-delete{
    color: #ff3333;
    background-color: transparent;
}

.req-delete:hover{
    background-color: #ffbfbf;
}