.req-table{
    border-collapse: collapse;
}

.req-table th, .req-table td{
    /* border: 1px solid #efefef; */
    text-align: center;
    padding: 1em;
}

.req-table th{
    color: #111;
    font-size: 15px;
}

.req-table td{
    font-size: 13px;
    color: #333;
    border-bottom: 0.1em solid #eee;
}

.req-table tr:nth-child(even) {
    background-color: #fefefe;
}

.req-table tr:nth-child(odd) {
    background-color: #fafafa;
}

.req-item{
    cursor: pointer;
}

.req-table tr:hover{
    background-color: #f0f0f0;
}

.req-table th{
    background-color: #e5e5e5;
}

.add-req-button td{
    font-weight: bold;
    background-color: #fefefe;
    border: none;
    cursor: pointer;
}

.add-req-button td:hover{
    background-color: #fafafa;
}

.add-req-button img{
    width: 15px;
    margin-right: 1em;
}

.add-req-button div{
    display: flex;
    justify-content: center;
    align-items: center;
}